template<class obj_type>
obj_type
nhashmap<obj_type>::get_elem(string s_key)
{
  typename hashmap<obj_type>::iterator iter = this->find(s_key);

  if ( iter != this->end() )
    return iter->second;

  return NULL;
}
