template<class obj_type, class key_type_, class hash_type, class alloc_type>
obj_type
nhashmap<obj_type, key_type_, hash_type, alloc_type>::get_elem(key_type_ t_key)
{
  typename hashmap<obj_type, key_type_, hash_type, alloc_type>::iterator iter = this->find(t_key);

  if ( iter != this->end() )
    return iter->second;

  return NULL;
}
